# Port to run the server on
PORT=5000

# MongoDB local connection URI
MONGODB_URI=mongodb://127.0.0.1:27017/auth_db

# Firebase Web API Key (Required for email/password login REST API)
FIREBASE_WEB_API_KEY=your_firebase_web_api_key

# Firebase Admin SDK Credentials
FIREBASE_PROJECT_ID=your_firebase_project_id
FIREBASE_CLIENT_EMAIL=your_firebase_client_email
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nyour_private_key_here\n-----END PRIVATE KEY-----\n"
