# Production API base URL (Optional for local development, fallback automatically fetches Metro server IP)
EXPO_PUBLIC_API_URL=https://your-production-backend-api.com

# Firebase Web Client ID for Google Sign-in
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=your_firebase_google_web_client_id.apps.googleusercontent.com
